alembic==0.9.9
backports.weakref==1.0rc1
bleach==1.5.0
cachetools==2.1.0
certifi==2017.7.27.1
chardet==3.0.4
dnspython==1.15.0
Faker==0.8.15
Flask==0.12.2
Flask-HTTPAuth==3.2.3
Flask-Migrate==2.1.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
future==0.16.0
html5lib==0.9999999
httplib2==0.11.3
idna==2.6
IPy==0.83
itsdangerous==0.24
Mako==1.0.7
oauthlib==2.1.0
protobuf==3.3.0
psutil==5.4.3
pyasn1==0.4.3
pyasn1-modules==0.2.1
python-dateutil==2.7.3
requests==2.18.4
requests-oauthlib==1.0.0
rsa==4.1
six==1.10.0
SQLAlchemy==1.2.8
text-unidecode==1.2
uritemplate==3.0.0
urllib3==1.22
Werkzeug==0.12.2
